@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Playfair+Display:700&display=swap&subset=latin-ext');

html {
  font-family: 'Playfair Display', serif;
  font-size: 15px;
}
body {
    font-family: sans-serif;
    text-align: center;
    background-color: #FFEFEF;
    color: #686256;
}
h1,
h2 {
  font-family: 'Playfair Display', serif;
}

.white {
    background-color: #FFFFFF;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
/* barvy
FFEFEF - Lavender blush
FFFFFF - pure white

Playfair Display Bold
Open Sans Light
*/


.aboutUs {
    display: flex;
    text-align: left;
    justify-content: space-between;  
    padding: 0px 0px 50px;  
}

.levy {
    padding-right: 30px;
}

.pravy {
    padding-left: 30px;
}
.gallery {
    display: flex;
    justify-content: space-between;
    margin: 60px 0px;
}

.galleryPicture {
    width: 180px;
}

.food{
    display:flex;
    justify-content: space-between;
    padding: 0px 0px 50px;
}

.tagliatelle{
    flex-direction: row-reverse;
}

.foodPicture {
    height: 200px;
}

.description {
    flex-basis: 300px;
    text-align: left;
}

.whiteSmall {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    
}
.button{
    background-color: #FFEFEF;
    padding: 10px 5px 10px 5px;
    border: none;
    border-radius: 3px;
    font-family: 'Playfair Display', serif;
    color: #686256;
    
}

.main {
    padding: 50px 0px 0px 0px;
}
